In [28]:
#importing the dependencies
import pandas as pd #pandas library is used to create dataframes which helps us to structure iur data
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer #(vectorizer function)used fr converting the text data into numerical values(feature vectors)
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [29]:
data = pd.read_csv("C:/Users/Varshini/Desktop/spam.csv", encoding='latin1')

In [30]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [31]:
print(data)

        v1                                                 v2 Unnamed: 2  \
0      ham  Go until jurong point, crazy.. Available only ...        NaN
1      ham                      Ok lar... Joking wif u oni...        NaN
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3      ham  U dun say so early hor... U c already then say...        NaN
4      ham  Nah I don't think he goes to usf, he lives aro...        NaN
...    ...                                                ...        ...
5567  spam  This is the 2nd time we have tried 2 contact u...        NaN
5568   ham              Will ÃŒ_ b going to esplanade fr home?        NaN
5569   ham  Pity, * was in mood for that. So...any other s...        NaN
5570   ham  The guy did some bitching but I acted like i'd...        NaN
5571   ham                         Rofl. Its true to its name        NaN

     Unnamed: 3 Unnamed: 4
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN
...         ...        ...
5567        NaN        NaN
5568        NaN        NaN
5569        NaN        NaN
5570        NaN        NaN
5571        NaN        NaN

[5572 rows x 5 columns]

In [32]:
# replace the null values with null strings
mail_data=data.where((pd.notnull(data)),'')

In [33]:
# printing the first five rows of dataframe
mail_data.head() #The head() function in pandas returns the first n rows of dataframe based on position.If no value is specified for n, it defaults to 5

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",,,
1,ham,Ok lar... Joking wif u oni...,,,
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,ham,U dun say so early hor... U c already then say...,,,
4,ham,"Nah I don't think he goes to usf, he lives aro...",,,

In [34]:
#checking the number fo rows and columns in the dqtaframe
mail_data.shape

(5572, 5)

In [35]:
print(mail_data.columns)

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [36]:
new_mail_data = mail_data.drop(columns=['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'])

In [37]:
new_mail_data.shape

(5572, 2)

In [38]:
new_mail_data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [39]:
# label spam mail as 0 and ham mail as 1 (LABEL ENCODING)
new_mail_data.loc[new_mail_data['v1']=='spam','v1',]=0
new_mail_data.loc[new_mail_data['v1']=='ham','v1',]=1

# .loc attribute in pandas is used to access a group of rows and columns in a dataframe by labels(s) or a boolean array

In [40]:
new_mail_data.head()

  v1                                                 v2
0  1  Go until jurong point, crazy.. Available only ...
1  1                      Ok lar... Joking wif u oni...
2  0  Free entry in 2 a wkly comp to win FA Cup fina...
3  1  U dun say so early hor... U c already then say...
4  1  Nah I don't think he goes to usf, he lives aro...

In [41]:
# separating the data as text(messages and the mails) and labels(whether its spam or ham)
x=new_mail_data['v2']
y=new_mail_data['v1']
print(x)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will ÃŒ_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5572, dtype: object

In [42]:
print(y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: v1, Length: 5572, dtype: object

In [43]:
# splitting the data into training test and testing data
#split the dataset into training data and testing data and this training data will be used inorder to train our Logistic Regression model & after this
#we will use the test data in order to evaluate our model 
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=4)
# testsize=0.2 in the sense 80% of data goes to training set and 20% of data goes to test data
# random_state is an optional integer used to shuffle the data before splitting it into training and testing sets.That means everytime u run ur code with same data, u'll get the exact same split of training and testing sets
#x_train,x_test,y_train,y_test are  the 4 arrays

In [44]:
print(x.shape)
print(x_train.shape)
print(x_test.shape)

(5572,)
(4457,)
(1115,)

In [45]:
print(y.shape)
print(y_train.shape)
print(y_test.shape)

(5572,)
(4457,)
(1115,)

In [48]:
#Feature Extraction
# transform the textdata to features vectors that can be used as input to logisticRegression
feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase=True) #lowercase=True converts all the letters to lowercase
#TfidfVectorizer is loaded into a variable called as feature_extraction.so, now we are going to use this feature_extraction fr processing 
x_train_features=feature_extraction.fit_transform(x_train)
#x_train_features(an array) stores the numerical values of x_train data
x_test_features=feature_extraction.transform(x_test)
 
#TfidfVectorizer tries to go through all the words in the document and if the word is several times it'll get some value.In this way it'll
#try to give some value/score to all the words present in the dataset

#If the word is not repeated or if the word repeated only once in that case we dont want to use those words coz those words wont be
#as important fr our prediction

# convert y_train and y_test values to integers
y_train=y_train.astype('int')
y_test=y_test.astype('int')

In [49]:
print(x_train)

3075    Mum, hope you are having a great day. Hoping t...
1787                           Yes:)sura in sun tv.:)lol.
1614    Me sef dey laugh you. Meanwhile how's my darli...
4304                Yo come over carlos will be here soon
3266                    Ok then i come n pick u at engin?
                              ...
789                          Gud mrng dear hav a nice day
968             Are you willing to go for aptitude class.
1667    So now my dad is gonna call after he gets out ...
3321    Ok darlin i supose it was ok i just worry too ...
1688                     Nan sonathaya soladha. Why boss?
Name: v2, Length: 4457, dtype: object

In [50]:
print(x_train_features)

  (0, 741)	0.3219352588930141
  (0, 3979)	0.2410582143632299
  (0, 4296)	0.3891385935794867
  (0, 6599)	0.20296878731699391
  (0, 3386)	0.3219352588930141
  (0, 2122)	0.38613577623520473
  (0, 3136)	0.440116181574609
  (0, 3262)	0.25877035357606315
  (0, 3380)	0.21807195185332803
  (0, 4513)	0.2909649098524696
  (1, 4061)	0.380431198316959
  (1, 6872)	0.4306015894277422
  (1, 6417)	0.4769136859540388
  (1, 6442)	0.5652509076654626
  (1, 7443)	0.35056971070320353
  (2, 933)	0.4917598465723273
  (2, 2109)	0.42972812260098503
  (2, 3917)	0.40088501350982736
  (2, 2226)	0.413484525934624
  (2, 5825)	0.4917598465723273
  (3, 6140)	0.4903863168693604
  (3, 1599)	0.5927091854194291
  (3, 1842)	0.3708680641487708
  (3, 7453)	0.5202633571003087
  (4, 2531)	0.7419319091456392
  :	:
  (4452, 2122)	0.31002103760284144
  (4453, 999)	0.6760129013031282
  (4453, 7273)	0.5787739591782677
  (4453, 1762)	0.45610005640082985
  (4454, 3029)	0.42618909997886
  (4454, 2086)	0.3809693742808703
  (4454, 3088)	0.34475593009514444
  (4454, 2001)	0.4166919007849217
  (4454, 1049)	0.31932060116006045
  (4454, 7346)	0.31166263834107377
  (4454, 5370)	0.42618909997886
  (4455, 1148)	0.38998123077430413
  (4455, 6433)	0.38998123077430413
  (4455, 6361)	0.25697343671652706
  (4455, 2764)	0.3226323745940581
  (4455, 7358)	0.2915949626395065
  (4455, 7407)	0.3028481995557642
  (4455, 2108)	0.3136468384526087
  (4455, 4251)	0.30616657078392584
  (4455, 3763)	0.16807158405536876
  (4455, 4773)	0.35860460546223444
  (4456, 6117)	0.5304350313291551
  (4456, 6133)	0.5304350313291551
  (4456, 1386)	0.4460036316446079
  (4456, 4557)	0.48821933148688146

In [51]:
# training the model (logistic regression)
model=LogisticRegression()
# training the logistic regression model with the training data
model.fit(x_train_features,y_train)# it has 2 parameters x_train_features(x-axis),y_train(y-axis)

LogisticRegression()

In [52]:
# evaluating the trained model

#prediction on training data
prediction_on_trainingdata=model.predict(x_train_features)
accuracy_on_trainingdata=accuracy_score(y_train,prediction_ontraining_data)

In [53]:
print(accuracy_ontraining_data)

0.9661207089970832

In [54]:
#prediction on testing data
prediction_on_testingdata=model.predict(x_test_features)
accuracy_on_testingdata=accuracy_score(y_test,prediction_on_testingdata)

In [55]:
print(accuracy_on_testingdata)

0.9623318385650225

In [56]:
# building a predictive system
input=["Even my brother is not like to speak with me. They treat me like aids patent"]

#converting text to feature vectors
input_datafeatures=feature_extraction.transform(input)

# making prediction
prediction=model.predict(input_datafeatures)
print(prediction)

[1]